.user-center-wrap
	width 960px
	height: 100%
	overflow auto
	margin: 0 auto
	.block-item
		margin-bottom 20px
		background-color: #fff
		border-radius 5px
		&:first-child
			margin-top 20px
		&:last-child
			margin-bottom 0
		.panel-header
			height 40px
			line-height 40px
			background-color #f6f6f6
			border-radius 3px 3px 0 0
			font-size 14px
			padding-left 10px
			color #444
			.homepage-title
				color #80bd01
			.divider
				color #ccc
		.panel-body
			padding-left 10px
			font-size 12px
			.user-avatar-wrap
				position relative
				height 40px
				margin-bottom 10px
				.user-avatar
					width 40px
					height 40px
				.user-name
					position absolute
					top 50%
					transform translateY(-50%)
					left 50px
					display inline-block
					color #778087
			.topic-list
				.list-item
					display block
					height 40px
					padding 5px 10px 5px 0
					.left-content
						float left
						width 30px
						height 30px
						.tiny-avatar
							width 30px
							height 30px
					.right-content
						margin-left 45px
						a
							display block
							color #00a1d6
							text-decoration none
						span
							float right