.login-page-wrapper
	height 100%
	background-color #fff
	.login-box
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		width 280px
		padding 30px
		border 1px solid #e4e6e8
		box-sizing border-box
		text-align center
		border-radius 5px
		.token-input
			width 100%
			height 28px
			border-radius 5px
			border 1px solid #e5e5e5
			margin-bottom 20px
		.submit-btn
			width 80px
			height 28px
			color #fff
			background-color #108ee9
			border-radius 5px
			border none