*
	margin 0
	padding 0
html, body
	height 100%
	font-family "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important
	color #333
	ul, li
		list-style none
		list-style-type none
	a
		text-decoration none
		color #00a1d6